.day-grid-item {
  min-height: 100px;
  min-width: 150px;
  border: 15px solid #145A32;
  border-radius: 24% 76% 21% 79% / 75% 11% 89% 25% ;
}

.inner-one {
  background: #145A32;

  width: 150px;
  height: 100px;
  border-radius: 6% 94% 4% 96% / 95% 0% 100% 5% ;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #F4D03F;

  width: 100%;
  height: 100%;
  border-radius: 24% 76% 21% 79% / 75% 11% 89% 25% ;
}

.day {
  font-size: 3rem;
}
