.imgContainer {
  position: relative;
}

.img-card {
  border-radius: 15px;
}

.lockedImg {
  position: absolute; /* Positioned relative to the .imgContainer */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
