
.container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  color: var(--terciary);
  line-height: 45px;
  max-width: 380px;
  text-wrap: auto;
  display: block;

  > span {
    font-family: "Caveat Brush", cursive;
  }
}
