.container {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .paragraph {
    margin-top: 0.9rem;
  }

  .gridImgContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 1rem;

    .mainImg {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .mainImg, .gridImg {
      width: 100%;
      border-radius: 10px;
      margin: 0;
    }
  }

  .merryChristmas {
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    opacity: 0.9;
  }

  .sign {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    text-align: end;
  }
}
