.titleContainer {
}

.title {
  display: block;
  font-size: 1.4rem;
  place-self: center;
  grid-column: 3;
  margin-top: 2rem;
  grid-row: 1;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.massageImg {
  width: 150px;
}

.descriptionContainer {
  margin-top: 3rem;
  font-size: 1.4rem;
}

.imgBottomContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.lightLeft, .lightRight {
  width: 50px;
  justify-self: center;
}

.lightLeft {
  rotate: -60deg;
}

.lightRight {
  rotate: 60deg;
}
