.titleContainer {
  text-align: center;
}

.title {
  display: block;
  font-size: 1.35rem;
  place-self: center;
  grid-column: 3;
  margin-top: 2rem;
  grid-row: 1;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.massageImg {
  width: 300px;
  border-radius: 10px;
}

.descriptionContainer {
  text-align: center;
  margin-top: 1rem;
}

.downloadContainer {
  margin-top: 1.5rem;
  text-align: center;
}

.link {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--font-secondary);

}

.link:link, .link:visited {
  text-decoration: none;
}
