.day-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #145A32;
  background:  #F4D03F;
  min-height: 100px;
  min-width: 150px;
}

.day {
  font-size: 3rem;
}
